---
layout: archive
title: "Achievements"
permalink: /Achievements/
author_profile: true
---

A chronological list of selected academic achievements and examinations.

---

## Achievements
======

- **[Standard Examination in High School Science 2026 - National Top 1% and awarded certificate of academic excellence as Zonal Topper and gold medal](https://iaptexam.examtime.co.in/SEHSS/)**  
  *December 2025*

- **[National Standard Examination In Junior Science 2025 - National Top 1% and awarded certificate of merit](https://www.iapt.org.in/)**  
  *November/December 2025*

- **[Indian Olympiad Qualifier in Mathematics](https://www.mtai.org.in/)**  
  *September 2025*

- **[National Standard Examination In Junior Science 2024 - National Top 1% and awarded certificate of merit](https://www.iapt.org.in/)**  
  *November/December 2024*

---

*Each item links to a dedicated page with further details where available.*
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

